{
  "presets": ["@wordpress/babel-preset-default"],
  "plugins": [
    [
      "prismjs",
      {
        "plugins": ["line-numbers", "copy-to-clipboard", "autoloader"],
        "css": true
      }
    ]
  ]
}
